body {
    background-color: #fbfbfb;
}



.disk__container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 130px;

}

.disk {
    width: 400px;
    height: 400px;
    background-image: url('cd.png'); 
    background-size: cover;
    position: relative;
    animation: rotate 5s linear infinite;

}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}